// RESPONSIVE

$Mobile: 375px;
$Tablet: 580px;
$Desktop: 780px;

//COLOR
// NEUTRAL
$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 112.5%;
  font-family: "Epilogue", sans-serif;
}

body {
  height: 100vh;
  color: $Medium-Gray;
  background-color: $Almost-White;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $Almost-Black;
}

@mixin flex {
  display: flex;
  flex-direction: column;
}
