@use "base" as b;

.overlay {
  display: none;
  position: absolute;

  height: 100vh;
  width: 100vw;
  background-color: rgba(b.$Almost-Black, 0.7);
}

.btn {
  border: none;
  border: 2px solid b.$Medium-Gray;
  border-radius: 20px;

  font-size: 1rem;
  font-family: inherit;
  padding: 0.8rem 4rem;
  color: b.$Medium-Gray;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: b.$Almost-Black;
    border: 2px solid b.$Almost-Black;
  }

  &--dark {
    font-weight: 700;
    border-radius: 15px;
    padding: 0.8rem 2rem;
    color: b.$Almost-White;
    border: 2px solid b.$Almost-Black;
    background-color: b.$Almost-Black;

    &:hover {
      color: b.$Almost-Black;
      background-color: transparent;
    }
  }
}

.collapse--desktop {
  transform: scale(0);
}

.expand {
  &--features {
    height: 180px;
  }
  &--company {
    height: 135px;
  }
}

// DESKTOP
@media (min-width: b.$Desktop) {
  .btn {
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;

    &--dark {
      font-size: 1rem;
    }
  }
}
