@use "base" as b;
// NAV
.nav {
  position: relative;
  height: 8vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 90%;
  margin: 0 auto;

  &__menu {
    position: fixed;
    top: 0;
    right: 0;

    height: 100vh;
    width: 70vw;
    transform: translateX(100%);

    @include b.flex;
    justify-content: space-around;
    padding: 0 1.5rem;

    background-color: b.$Almost-White;
    transition: transform 0.5s ease-in-out;
  }

  &__menu-main,
  &__menu-sub {
    @include b.flex;
    gap: 1.5rem;
  }

  &__menu-sub {
    align-items: center;
  }

  &__menu-items {
    height: 20px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: b.$Medium-Gray;

    &:hover {
      color: b.$Almost-Black;
    }
  }
}

// DROPDOWN MENU
.dropdown {
  @include b.flex;
  gap: 1rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

// BURGER MENU
.burger-menu {
  display: block;
  height: 25px;
  width: 35px;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 9;

  @include b.flex;
  justify-content: space-between;

  .line {
    display: block;
    height: 4px;
    width: 100%;
    background-color: b.$Almost-Black;

    &--1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
    &--2 {
      transition: transform 0.2s ease-in-out;
    }
    &--3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  }
}

// ACTIVATE SIDE MENU
.check-burgermenu {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 10;

  height: 2rem;
  width: 2rem;
  opacity: 0;

  &:checked ~ .burger-menu {
    .line--1 {
      transform: rotate(38deg);
    }
    .line--2 {
      transform: scaleY(0);
    }
    .line--3 {
      transform: rotate(-38deg);
    }
  }

  &:checked ~ .nav__menu {
    transform: translateX(0);
  }
}

@media (min-width: b.$Desktop) {
  .burger-menu,
  .check-burgermenu {
    display: none;
  }

  .logo {
    margin-left: unset;
  }

  .nav {
    position: relative;

    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 4rem;

    width: 95%;
    margin: 0 auto;

    &__menu {
      position: relative;

      height: 100%;
      width: 100%;
      transform: translateX(0);

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
      padding: unset;

      background-color: transparent;
      transition: unset;
    }

    &__menu-main,
    &__menu-sub {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }

    &__menu-sub {
      align-items: center;
    }

    &__menu-items {
      font-size: 0.8rem;
      height: unset;
      overflow: visible;
      transition: all 0.2s ease-in-out;

      position: relative;
    }

    &__links {
      gap: 0.4rem;
    }
  }

  // DESKTOP DROPDOWN MENU
  .dropdown {
    position: absolute;
    top: 30px;

    padding: 1rem;
    border-radius: 10px;
    background-color: b.$Almost-White;
    box-shadow: 10px 10px 20px rgba(b.$Almost-Black, 0.2);

    &--feat {
      right: 0;
      width: 135px;
    }

    &--comp {
      left: 0;
      width: 110px;
    }

    &__content {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
